params {
    // input parameters
    sample_sheet = null
    delimiter = null
    metadata = null
    output_dir = 'results'
    embedding = null

    // pipeline parameters
    barcode_column = 'barcode'
    sample_column = 'sample'
    target_sum = null
    hvg_flavor = null
    n_top_genes = null
    viz_label = null
    embedding_name = null

}

process {
    cpus          = 2
    queue         = 'normal'
    memory        = '4 GB'
}

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '-B /lustre,/nfs'
    cacheDir   = '/nfs/cellgeni/singularity/images/'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}