nextflow.enable.moduleBinaries = true

params {
    // input parameters
    sample_sheet = null
    delimiter = null
    metadata = null
    output_dir = 'results'
    embedding = null

    // pipeline parameters
    barcode_column = 'barcode'
    sample_column = 'sample'
    target_sum = null
    hvg_flavor = null
    n_top_genes = null
    viz_label = null
    embedding_name = null

}

process {
    executor = 'local'
}

docker {
    enabled = false
}

manifest {
    name            = 'cellgeni/hackaton'
    author          = "CellgenI Team"
    homePage        = 'https://github.com/cellgeni/hackaton'
    description     = "NF-CORE play arond and find out hackaton"
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '0.0.1'
}
